api.tribuneo.xyz, stream.tribuneo.xyz {
	# 1. Reverse proxy streaming HLS vers finepulfe
	handle_path /api/proxy/* {
		reverse_proxy https://free.finepulfe.xyz {
			header_up Host free.finepulfe.xyz
			header_up Referer "https://free.finepulfe.xyz/"
			header_up -Origin
			flush_interval -1
		}
	}

	# 2. PocketBase API & Admin dashboard
	handle /api/* {
		reverse_proxy pocketbase:8090
	}
	handle /_* {
		reverse_proxy pocketbase:8090
	}

	# 3. Application Web StreamFlow (Vite SPA)
	handle {
		root * /var/www/dist
		file_server
		try_files {path} /index.html
	}
}
